.menu-area{
    background: transparent;
}
.dropdown-menu{
    padding:0;
    margin:0;
    border:0 solid transition!important;
    border:0 solid rgba(0,0,0,.15);
    border-radius:0;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}
.mainmenu {
    margin: 0 -12px;
}
.mainmenu a, .navbar-default .navbar-nav > li > a , .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link{
    color:#000;
    padding:26px 12px;
    font-size: 18px;
    font-weight:normal;
    display: block !important;
}
.navbar-nav .dropdown .dropdown-toggle {
    position: relative;
    display: block;
}
.navbar-nav {
    position: relative;
}
.navbar-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 0;
    transition: 1.6s linear .3s;
    background: #244491;
    height: 4px;
    z-index: 0;
}
.animation_start .navbar-nav::after {
    width: 100%;
}
.navbar-nav >.dropdown > .dropdown-toggle {
    position: relative;
    background-color: transparent;
    z-index: 4;
}
.navbar-nav >.dropdown > .dropdown-toggle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 100%;
    background: #fff;
    z-index: 5;
}
.navbar-nav > .dropdown > .dropdown-toggle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: #fff;
    z-index: 5;
    display: block !important;
    margin: 0;
    border-radius: 0;
    border: none;
    vertical-align: baseline;
}
@media (max-width: 1440px) {
    .mainmenu {
        margin: 0 -10px;
    }
    .mainmenu a, .navbar-default .navbar-nav > li > a , .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link{
        padding: 26px 10px;
    }
    .navbar-nav >.dropdown > .dropdown-toggle::before, .navbar-nav >.dropdown > .dropdown-toggle::after {
        width: 10px;
    }
}

@media (max-width: 1280px) and (min-width: 1025px) {
    .mainmenu a, .navbar-default .navbar-nav > li > a , .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link{
        padding: 26px 5px;
        font-size: 16px;
    }
    .navbar-nav >.dropdown > .dropdown-toggle::before, .navbar-nav >.dropdown > .dropdown-toggle::after {
        width: 5px;
    }
    .phone_social .login-register-btn .re_button {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .phone_social .login-register-btn a svg {
        width: 15px;
    }
}

@media (max-width: 1024px) and (min-width: 991px) {
    .mainmenu a, .navbar-default .navbar-nav > li > a , .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link{
        padding:26px 5px;
        font-size: 15px;
    }
    .navbar-nav >.dropdown > .dropdown-toggle::before, .navbar-nav >.dropdown > .dropdown-toggle::after {
        width: 5px;
    }

}

@media (max-width: 990px) and (min-width: 768px) {
    .mainmenu {
        margin: 0;
    }
    .mainmenu a, .navbar-default .navbar-nav > li > a , .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link{
        padding:16px 0px;
    }
    .navbar-nav >.dropdown > .dropdown-toggle::before, .navbar-nav >.dropdown > .dropdown-toggle::after {
        display: none !important;
    }
}
.bvi-tts + .dropdown-menu > li {
    padding: 0 20px;
}
.navbarDropdownNest > li {
    padding: 0 20px;
}
 .bvi-tts + .dropdown-menu > li a {
    border-bottom: 1px solid #E5E5E5;
    min-height: 50px;
    color: #979797;
     padding: 0;
     display: flex !important;
     align-items: center;
     transition: .3s ease;
     line-height: 1.2;
     padding: 5px 0;
}
.bvi-tts + .dropdown-menu > li a:hover {
    color: #244491;
}
.bvi-tts + .dropdown-menu > li:last-child a{
    border: none;
}
/*==========Sub Menu=v==========*/
/*.mainmenu .collapse ul > li:hover > a{*/
/*    background: #AAA;*/
/*}*/
/*.mainmenu .collapse ul ul > li:hover > a,*/
/*.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,*/
/*.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{*/
/*    background: #cccccc;*/
/*}*/
/*.mainmenu .collapse ul ul ul > li:hover > a{*/
/*    background: #aaaaaa;*/
/*}*/

/*.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{*/
/*    background:#FFF;*/
/*}*/
/*.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{*/
/*    background: #ffffff*/
/*}*/
/*.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{*/
/*    background: #ffffff*/
/*}*/

/******************************Drop-down menu work on hover**********************************/
.mainmenu{
    background: none;
    border: 0 solid;
    padding: 0;
    min-height:20px;
    width: 100%;
}
@media only screen and (min-width: 767px) {
.mainmenu .collapse ul li:hover> ul{
    display:block
}
.mainmenu .collapse ul ul{
    position:absolute;
    top: 100%;
    left:0;
    min-width:250px;
    display:none
}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
    .mainmenu .collapse ul ul {
        left: 50%;
        transform: translateX(-50%);
    }
    .mainmenu .collapse ul ul ul {
        transform: none;
    }
    .mainmenu .collapse ul ul::after {
        left: 50% !important;
        transform: translateX(-50%);
    }
}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px;word-break: break-word;}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}
